- if current_user.wishlists.count < 1
  :javascript
    $(window).load(function(){
        $('#new_wishlist_modal').modal('show');
    });

%h1 DASHBOARD
%br

.list-group
  - current_user.wishlists.each do |wishlist|

    .list-group-item
      .row-picture
        %img.circle{:alt => "Amazon Icon", :src => image_path('amazon_logo.jpg')}
      .row-content
        .least-content
          - if wishlist.last_scan_date.blank?
            Not Yet Scanned
          - else
            Last Scan:
            = wishlist.last_scan_date.strftime("%d %b %Y")

        %h4.list-group-item-heading
          %a{:href => "#{wishlist.wishlist_full_url}", :target => "_blank"}
            = wishlist.name.upcase

        %p.list-group-item-text
          Threshold:
          %strong
            = wishlist.threshold_to_float
        - if wishlist.last_scan_date.blank?
          %p.list-group-item-text
            Not Yet Scanned
        - else
          %p.list-group-item-text
            Wishlist Size:
            = wishlist.last_scan_array.count
            Items

        - if wishlist.kindle_only == true
          %p.list-group-item-text
            Kindle Books Only

        %p
          = link_to 'View Details', wishlist_path(wishlist.id), class: "btn btn-sm btn-primary"

    .list-group-separator
