= render partial: 'layouts/new_wishlist_modal'

%h1 DASHBOARD

%h3
  = current_user.email

%p
  %table
    %thead
      %tr
        %th Wishlist id
        %th Threshold
        %th Domain
        %th Last Scan Date
        %th Last Scan Count
        %th
        %th
        %th
        %th
    - current_user.wishlists.each do |wishlist|
      %tbody
        %tr
          %td
            = wishlist.wishlist_id
          %td
            = wishlist.threshold
          %td
            = wishlist.wishlist_tld

          - if wishlist.last_scan_date.blank?
            %td Never
            %td Never
          - else
            %td
              = wishlist.last_scan_date
            %td
              = wishlist.last_scan_array.count
          %td
            = link_to 'Run Scan', run_scan_wishlist_path(wishlist.id)
          %td
            - if wishlist.last_scan_date.present?
              = link_to 'View Details', wishlist_path(wishlist.id)
          %td
            = link_to 'Edit', edit_wishlist_path(wishlist.id)
          %td
            = link_to "Delete Wishlist", wishlist, method: :delete, data: {confirm: "Are you sure?"}