- if current_user.wishlists.count < 1
  :javascript
    $(window).load(function(){
        $('#new_wishlist_modal').modal('show');
    });

%h1 DASHBOARD
%br

.list-group
  - current_user.wishlists.each do |wishlist|

    .list-group-item
      .row-picture
        %img.circle{:alt => "Amazon Icon", :src => image_path('amazon_logo.jpg')}
      .row-content
        .least-content
          - if wishlist.last_scan_date.blank?
            Not Yet Scanned
          - else
            Last Scan:
            = wishlist.last_scan_date.strftime("%d %b %Y")

        %h4.list-group-item-heading
          %a{:href => "#{wishlist.wishlist_full_url}", :target => "_blank"}
            ID:
            = wishlist.wishlist_id

        %p.list-group-item-text
          Threshold:
          %strong
            = wishlist.threshold_to_float
        - if wishlist.last_scan_date.blank?
          %p.list-group-item-text
            Not Yet Scanned
        - else
          %p.list-group-item-text
            Wishlist Size:
            = wishlist.last_scan_array.count
            Items
        %p
          = link_to 'View Details', wishlist_path(wishlist.id), class: "btn btn-sm btn-primary"

          = link_to 'Edit', edit_wishlist_path(wishlist.id), class: "btn btn-sm btn-flat btn-default"

          = link_to "Delete", wishlist, method: :delete, class: "btn btn-sm btn-flat btn-danger", data: {confirm: "Are you sure you want to delete this wishlist?"}

    .list-group-separator

