%h3
  Scan Results For
  = @wishlist.name

%ul
  %li
    %strong Price Limit:
    £/$
    = @wishlist.threshold_to_float
  %li
    %strong Items In Wishlist:
    = @wishlist.last_scan_array.count
  %li
    %strong Items Under Price Limit:
    = @wishlist.wishlist_show_items.count

%br
%br

- if @wishlist.wishlist_show_items.count > 0
  %ul
    - @wishlist.wishlist_show_items.sort_by { |hsh| hsh[:price] }.each do |item|
      %li
        = link_to item[:title], item[:link], :target => "_blank"
        %br
        = item[:price]
-else
  %p
    No items in wishlist under your set price limit.
