#new_wishlist_modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h2.modal-title Add An Amazon Wishlist
        %br
        %br

      .modal-body
        %p
          To add a wishlist. Go to your
          %a{:href => "http://www.amazon.co.uk/gp/registry/wishlist/ref=nav_wish_list", :target => "_blank"} Amazon Wish List
          page and click on the wishlist you want to track, from the list on the left.
        %p
          When that wishlist opens, you simply copy the web address from your web browser and paste it into the form below.

        = form_for(@new_wishlist, remote: true, format: :json, html: {class: :new_wishlist_form}) do |f|

          #error_explanation{:style => "display:none;"}
            .modal-error-box
              %ul
                - if @new_wishlist.errors.any?
                  - @new_wishlist.errors.full_messages.each do |msg|
                    %li
                      = msg

          %fieldset
            .form-group
              = f.text_field :wishlist_id, :class => "form-control input-lg floating-label", :placeholder => "Wishlist URL", :required => true
            %br

            / .form-group
            /   %p
            /     Give your wishlist a name so you can easily identify it later.
            /   = f.text_field :name, :class => "form-control input-lg floating-label", :placeholder => "Wishlist Name"
            / %br

            .form-group
              %p
                Simply set the price limit for the wishlist.
              .input-group
                %span.input-group-addon#threshold_input £/$
                = f.number_field :threshold_float, :class => "form-control input-lg floating-label", :placeholder => "Price Threshold - for example 5.00 or 0.99", :type => "number", :step => '0.01'
              %br

            .form-group
              %p
                Would you like to limit the scan to Kindle books only?
              .input-group
                .togglebutton
                  %label
                    = f.check_box :kindle_only
                    Kindle Books Only
              %br

            .form-group
              %p
                How often would you like to receive an email update?
              = f.select(:frequency, [ 'Daily', 'Weekly'], {:prompt => 'Select One'}, { :class => "form-control input-lg" })

          .form-group.modal-form-button
            %button.btn.btn-primary.btn-block.btn-lg{:type => "submit"}
              Add Wishlist

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close